@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  height: 150px !important;
}

.carousel .image {
  width: 120px !important;
  height: "" !important;
}

.bgContainer {
  margin-top: -100px !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc6736;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hide,
.show,
.move-in,
.move-out,
.showMenu {
  transition-property: height transform visibility;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.hide {
  height: 0px;
  visibility: hidden;
}

.show {
  margin-top: 20px;
  opacity: 1;
  height: 400px;
}

.move-out {
  transform: translateX(-100%);
  visibility: hidden;
}

.move-in {
  transform: translateX(0);
  visibility: visible;
}

.showMenu {
  transform: translateX(-500%);
  opacity: 0;
}

.menu:hover .showMenu {
  transform: translateX(0);
  opacity: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: "";
  cursor: pointer;
}

.overlay2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bgHover {
  position: absolute;
  background-color: #fc6736;
  z-index: -1;
  top: -6px;
  left: -6px;
  transition: all 1s ease-in-out;
}

.bgHover2 {
  position: absolute;
  background-color: rgb(31, 30, 30);
  z-index: -1;
  top: 6px;
  left: 6px;
  transition: all 1s ease-in-out;
}

.bgHover3 {
  position: absolute;
  background-color: #fc6736;
  z-index: -1;
  top: 6px;
  left: 6px;
  transition: all 1s ease-in-out;
}

.largeDiv:hover .bgHover3 {
  top: -6px;
  left: -6px;
  background-color: rgb(31, 30, 30);
}

.largeDiv:hover .bgHover2 {
  top: -6px;
  left: -6px;
  background-color: #fc6736;
}

.largeDiv:hover .bgHover {
  top: 6px;
  left: 6px;
  background-color: rgb(31, 30, 30);
}

.icon-color {
  fill: white;
}