@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  height: 150px !important;
}

.carousel .image {
  width: 120px !important;
  height: "" !important;
}

.bgContainer {
  margin-top: -100px !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc6736;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
